
ML_Main/station/

MLModel/1 2000-2025Coliform.csv

**/.DS_Store
**/__pycache__/

ML_Main/2.1extracted_columns_all_kinds.csv

ML_Main/2.2extracted_specific_columns.csv

ML_Main/2.3rearrange_columnsl.py

ML_Main/2.4 hand merge Cond \@ 25COxygen DissTemp Turbidity.csv

ML_Main/1 2000-2025Coliform_New.csv

ML_Main/2.2extracted_specific_columns_New.csv

ML_Main/2.3rearranged_columns_Full.csv

ML_Main/2.3rearranged_columns_Full_New.csv

ML_Main/xgboost_model.json

Arduino_Code/Function_Blocks/.conda/
